<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Forum&family=Tinos&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gelasio:wght@600&display=swap" rel="stylesheet">
  <title>Travel Almaty</title>
</head>


<body>

  <div class="header-top">
    <div class="icon">
      <img src="../static/img/icon-kz.png" alt="" width="73px">
    </div>

    <div class="nav">
      <a class="nav-item" href="/index">Главная</a>
      <a class="nav-item" href="/guide">Что делать</a>
      <a class="nav-item" href="/info">Информация</a>
    </div>

    <script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>

      <div class="icons">
        <a class="animated-icon1" href="https://www.vk.com/">
          <lord-icon
            src="https://cdn.lordicon.com/kkvxgpti.json" trigger="hover" style="width:48px;height:48px">
          </lord-icon> 
        </a>

        <a class="animated-icon2" href="https://www.youtube.com/">
          <lord-icon
          src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover" style="width:48px;height:48px">
          </lord-icon> 
        </a>

      </div>
  </div>


<main>
  <section class="location">
    <div class="container">
      <h2 class="inner-title ff-gelassio">Выберите направление</h2>
      <p class="inner-subtitle location-subtitle">Что вы хотите увидеть?</p>

      <div class="location-wrapper">
        <div class="specialtransition">
          <div class="location-block">
            <a href="history.html">
              <div class="location-block-img"><img src="../static/img/history.jpg" alt="" width="500px"></div>
                <h3 class="location-block-title ff-gelassio"><a class="location-block-title ff-gelassio" href="history.html">Историческое наследие Алматы</a></h3>
                  <p class="locatin-block-text"></p>
            </a>    
          </div>
        </div>

        <div class="specialtransition otstup-slevo">
          <div class="location-block">
              <a href="inspire.html">
              <div class="location-block-img"><img src="../static/img/inspire.jpg" alt="" width="500px"></div>
                <h3 class="location-block-title ff-gelassio"><a class="location-block-title ff-gelassio" href="inspire.html">Вдохновляющие места Алматы</a></h3>
                  <p class="locatin-block-text"></p>
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>







</body>
</html>