<!DOCTYPE html>
<html>
<head>
    <title>Регистрация </title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
  <div class="header-top">
    <div class="icon">
      <a class="flag" href="/index"><img src="../static/img/logo.png" alt="" width="73px"></a>
    </div>

    <div class="nav">
      <a class="nav-item" href="/index">Главная</a>
      <a class="nav-item" href="/guide">Что делать</a>
      <a class="nav-item" href="/info">Информация</a>
    </div>

    <script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>
    <div class="icons">
      <div class="settings">
        <script src="https://cdn.lordicon.com/lordicon-1.1.0.js"></script>
        <div class="search">
          <input type="search" placeholder="Type to search" class="search_input">
          <button>
            <i class="fa fa-search"><lord-icon src="https://cdn.lordicon.com/kkvxgpti.json" trigger="hover" style="width:46px;height:46px;color:#fff;"></lord-icon></i>
          </button>
        </div>
      </div>

      <a class="animated-icon2" href="/favourite_routes">
        <lord-icon src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover" style="width:48px;height:48px"></lord-icon> 
      </a>
    </div>
  </div>
  <form class ="form" method="POST" action="/reg_form">
    <h1 class="form_title">Registration</h1>
      <div class="form_group">
        <input class="form_input" placeholder="" name="emailInput" id="emailInput" required>
        <label class="form_label">Email</label>
      </div>
    <div class="form_group">
      <input class="form_input" type="password" placeholder="" name="passwordInput" id="passwordInput" required>
      <label class="form_label">Password</label>
    </div>
    <div class="form_group">
      <input class="form_input" placeholder="" name="nameInput" id="nameInput" required>
      <label class="form_label" >Name</label>
    </div>
    <div class="form_group">
      <input class="form_input" placeholder="" name="surnameInput" id="surnameInput" required>
      <label class="form_label" >Surname</label>
    </div>
      <button class="form_button" href="/" >Continue</button>
      <a class="back" href="/user_login">Login</a>
  
  </form>
</body>
</html>
